/* line 49, ../sass/styles.scss */

body {
    overflow-x: hidden;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 0px;
}
/* line 63, ../sass/styles.scss */

#nav {
    background-color: white;
    height: 25px;
    padding-top: 8px;
    width: 100%;
    top: 0;
    overflow-x: hidden;
    text-align: center;
    position: fixed;
    z-index: 1;
}
/* line 77, ../sass/styles.scss */

#nav a {
    color: black;
    text-align: center;
    font-family: "Lato", serif;
    font-weight: 900;
    font-size: 10pt;
    text-decoration: none;
    letter-spacing: 3px;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 9px;
    padding-bottom: 8px;
}
/* line 91, ../sass/styles.scss */

#nav a:hover {
    background-color: #474747;
    color: white;
}
/* line 97, ../sass/styles.scss */

#nav #asterisk {
    font-size: 10pt;
    padding-left: 20px;
    padding-right: 18px;
}
/* line 104, ../sass/styles.scss */

#divider {
    border-bottom: 2.5px solid white;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
/* line 110, ../sass/styles.scss */

.content {
    text-align: center;
    font-family: "Lato", serif;
    font-weight: 100;
    font-size: 14pt;
    width: 65%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.content h5 {
    font-family: "Lato", serif;
    font-weight: 300;
    letter-spacing: 3.5px;
    font-size: 10pt;
    margin-bottom: -5px;
    text-transform: uppercase;
}
/* line 121, ../sass/styles.scss */

.content h3 {
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 64pt;
    line-height: 0;
}
/* line 129, ../sass/styles.scss */

.content h4 {
    color: white;
    font-size: 2rem;
}
#intro p {
    color: white;
    font-weight: 500;
    font-size: 1.13rem;
}

#v_c p {
    color: white;
    font-weight: 500;
    font-size: 1.13rem;
}
/* line 138, ../sass/styles.scss */

.text {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 20px;
}
/* line 145, ../sass/styles.scss */

#profile {
    padding: 15px;
    padding-top: 35px;
}
/* line 152, ../sass/styles.scss */

#profile img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 250px;
    width: 250px;
}
/* line 159, ../sass/styles.scss */

.single-col {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
/* line 168, ../sass/styles.scss */

.single-col h3 {
    font-size: 33px;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    clear: both;
    line-height: 100%;
    text-transform: uppercase;
}
/* line 177, ../sass/styles.scss */

.single-col h4 {
    text-align: center;
    clear: both;
}
/* line 184, ../sass/styles.scss */

.grid img {
    background-color: #474747;
    padding: 6px;
    margin: 8px;
    margin-left: 15px;
    margin-right: 15px;
}
/* line 194, ../sass/styles.scss */

.fade {
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
/* line 201, ../sass/styles.scss */

.fade:hover {
    opacity: 0.7;
}
#sounds li {
    font-weight: 500;
    text-align: left;
}
/* line 205, ../sass/styles.scss */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    clear: both;
    overflow: hidden;
}
/* line 212, ../sass/styles.scss */

.three-column {
    width: 32%;
    font-size: 13pt;
    text-align: center;
    float: left;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
/* line 222, ../sass/styles.scss */

.three-column h3 {
    font-size: 20px;
    width: auto;
    position: relative;
    text-transform: uppercase;
}
/* line 229, ../sass/styles.scss */

.three-column li {
    text-align: left;
    font-size: 11pt;
    font-weight: 300;
    letter-spacing: 0.07em;
    line-height: 120%;
}
/* line 237, ../sass/styles.scss */

.three-column:last-child {
    clear: right;
}
/* line 242, ../sass/styles.scss */

.spacer {
    width: 1.9%;
    height: 150px;
    float: left;
}
/* line 249, ../sass/styles.scss */

#note {
    padding-top: 15px;
}
/* line 253, ../sass/styles.scss */

.display img {
    text-align: center;
    padding: 20px;
}
@media (max-width: 1150px) {
    /* line 259, ../sass/styles.scss */
    .content {
        width: 80%;
    }
    /* line 262, ../sass/styles.scss */
    #divider {
        width: 80%;
    }
    /* line 265, ../sass/styles.scss */
    .container {
        width: 95%;
    }
}
@media (max-width: 890px) {
    /* line 271, ../sass/styles.scss */
    .content {
        width: 95%;
    }
    /* line 274, ../sass/styles.scss */
    #divider {
        width: 95%;
    }
    /* line 277, ../sass/styles.scss */
    .container {
        width: 95%;
    }
    /* line 280, ../sass/styles.scss */
    #nav a {
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media only screen and (max-width: 725px) {
    /* line 287, ../sass/styles.scss */
    .content {
        width: 90%;
    }
    /* line 290, ../sass/styles.scss */
    .content h3 {
        line-height: 100%;
        margin-bottom: 15px;
    }
    /* line 295, ../sass/styles.scss */
    .text {
        width: 60%;
    }
    /* line 298, ../sass/styles.scss */
    #profile img {
        width: 150px;
        height: 150px;
    }
    /* line 302, ../sass/styles.scss */
    #divider {
        width: 90%;
    }
    /* line 305, ../sass/styles.scss */
    .container {
        width: 90%;
    }
    /* line 308, ../sass/styles.scss */
    #nav {
        height: 50px;
        width: 100%;
    }
    /* line 312, ../sass/styles.scss */
    #nav a {
        padding-left: 14px;
        padding-right: 14px;
        word-break: keep-all;
    }
    /* line 318, ../sass/styles.scss */
    .grid img {
        margin: 3%;
    }
    /* line 322, ../sass/styles.scss */
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        clear: both;
    }
    /* line 329, ../sass/styles.scss */
    .three-column {
        width: 32.2%;
        font-size: 13pt;
        text-align: center;
        float: left;
        background-color: rgba(255, 255, 255, 0.5);
    }
    /* line 339, ../sass/styles.scss */
    .three-column h3 {
        text-align: center;
        font-size: 17px;
    }
    /* line 344, ../sass/styles.scss */
    .three-column li {
        font-size: 11pt;
        line-height: 120%;
    }
    /* line 350, ../sass/styles.scss */
    .spacer {
        width: 1.65%;
        height: 100px;
        float: left;
    }
}
@media only screen and (max-width: 665px) {
    /* line 359, ../sass/styles.scss */
    .text {
        width: 70%;
    }
    /* line 364, ../sass/styles.scss */
    .three-column h3 {
        font-size: 12pt;
    }
    /* line 368, ../sass/styles.scss */
    .three-column li {
        font-size: 10.5pt;
    }
}
@media only screen and (max-width: 600px) {
    /* line 375, ../sass/styles.scss */
    .content {
        width: 90%;
        font-size: 12pt;
        padding-top: 30px;
        text-align: center;
    }
    /* line 382, ../sass/styles.scss */
    .content h3 {
        text-align: center;
        font-family: "Lato", serif;
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 23pt;
        line-height: 100%;
        word-break: keep-all;
        margin: 15px;
    }
    /* line 392, ../sass/styles.scss */
    .content h4 {
        text-align: center;
        margin: 0px;
    }
    /* line 397, ../sass/styles.scss */
    .text {
        width: 100%;
        margin-left: 0px;
    }
    /* line 401, ../sass/styles.scss */
    #profile {
        float: none;
    }
    /* line 404, ../sass/styles.scss */
    #profile img {
        width: 150px;
        height: 150px;
    }
    /* line 409, ../sass/styles.scss */
    #divider {
        width: 90%;
    }
    /* line 412, ../sass/styles.scss */
    .container {
        width: 90%;
    }
    /* line 415, ../sass/styles.scss */
    #nav {
        height: 50px;
    }
    /* line 418, ../sass/styles.scss */
    #nav a {
        padding-left: 12px;
        padding-right: 12px;
        word-break: keep-all;
    }
    /* line 424, ../sass/styles.scss */
    .grid img {
        margin: 3%;
    }
    /* line 428, ../sass/styles.scss */
    .single-col {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* line 432, ../sass/styles.scss */
    .single-col h3 {
        font-size: 27pt;
    }
    /* line 437, ../sass/styles.scss */
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        clear: both;
    }
    /* line 444, ../sass/styles.scss */
    .three-column {
        width: 70%;
        font-size: 13pt;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    /* line 458, ../sass/styles.scss */
    .three-column h3 {
        font-size: 18px;
        text-transform: uppercase;
        word-break: keep-all;
    }
    /* line 464, ../sass/styles.scss */
    .three-column ul {
        list-style-position: inside;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    /* line 471, ../sass/styles.scss */
    .three-column li {
        text-align: center;
        line-height: 120%;
    }
    /* line 477, ../sass/styles.scss */
    .spacer {
        height: 10px;
        width: 70%;
        background-color: #b0ddce;
        float: none;
    }
}
#intro {
    width: 100%;
    opacity: 10%;
    background-color: grey;
}   
#v_c {
    width: 100%;
    background-color: grey;
    color: white;
}
#sounds {
    width: 100%;
    background-color: white;
    color: #474747;
}
#skills {
    width: 100%;
    background-color: #b0ddce;
}
#contact {
    width: 100%;
    background-color: white;
    color: #474747;
}
#copyright {
    width: 100%;
    background-color: #474747;
    color: white;
}
.mail-text:after {
    content: "ek684";
    font-weight: 700;
    letter-spacing: 3.5px;
    font-size: 10pt;
    line-height: 0;
    text-transform: uppercase;
    padding-left: 20px;
}
.twitter-text:after {
    content: "Twitter";
    font-weight: 700;
    letter-spacing: 3.5px;
    font-size: 10pt;
    line-height: 0;
    text-transform: uppercase;
    padding-left: 20px;
}
.linkedin-text:after {
    content: "LinkedIn";
    font-weight: 700;
    letter-spacing: 3.5px;
    font-size: 10pt;
    line-height: 0;
    text-transform: uppercase;
    padding-left: 20px;
}
#sounds p {
    font-size: 1.15rem;
    font-weight: 400;
}
#emphasize {
    font-weight: 700;
}
#contact-buttons {
    padding-top: 23px;
    font-size: 19pt;
    text-align: center;
}
#contact-buttons a {
    text-decoration: none;
    color: #474747;
}
#back-arrow {
    margin-top: 15px;
    height: 50px;
    margin-bottom: 20px;
}
.videos p {
    font-family: 'Lora';
    color: #333333;
    text-align: center;
    font-size: 1.55rem;
}
#gallery {
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 0;
    text-align: left;
    overflow: hidden;
    z-index: 10;
}
.gallery-item {
    position: relative;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 23.5%;
}
.gallery-item:last-child {
    clear: right;
}
.gallery-item img {
    display: inline-block;
    width: 100%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
.gallery-item:hover img {
    opacity: 0.8;
}
.gallery-item:hover .caption {
    opacity: 1;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.gallery-item:nth-child(4n) {
    margin-right: 0px;
    padding-right: 0px;
}
.gallery-item .caption {
    background-color: (71, 71, 71, 1);
    padding: 60px;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 10px;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.gallery-item .caption-text {
    border: 1px solid #FFFFFF;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    font-style: italic;
    font-size: 18pt;
    line-height: 19pt;
    color: #FFFFFF;
    display: table;
}
.gallery-item .caption-text p {
    margin: 0 0 0 0;
    display: table-cell;
    vertical-align: middle;
}
.gallery-item a {
    display: inline-block;
    vertical-align: middle;
}